.dashed-border {
    -fx-border-color: gray;
    -fx-border-width: 4;
    -fx-border-style: segments(10, 15, 15, 15) line-cap round;
}

.box-style-1 {
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: gray;
}
